@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{ 
    margin: 0px;
    padding: 0px;
    font-family: 'Righteous', cursive;
}

h1 { 
    font-size: 50px;
    padding: 40px;
}

input { 
    width: 90%;
    height: 30px;
    margin: 20px;
    background-color: darkgrey;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 880px;
}

input::placeholder { 
    font-size: 20px;
    text-indent: 20px;
    color: black;
}

input:focus { 
    box-shadow: 0;
    outline: 0;    
    font-size: 20px;
    text-transform: capitalize;
}

.grid_pokemons { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    width: 900px;
    margin: auto;
    gap: 20px;
}



